<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img alt="Producto" src="https://via.placeholder.com/50" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nombre }}</h2>

      </ion-label>
      <ion-label slot="end">
        ${{ item.precio }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total: ${{ getTotal() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success">
        Finalizar Compra
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>