<ion-header>
  <ion-toolbar color="light">
    <ion-title>VaConVos</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-searchbar placeholder="Buscar productos" (ionInput)="handleInput($event)"></ion-searchbar>

  <h2 class="title">Productos destacados</h2>

  <ion-list>
    <ion-item *ngFor="let producto of productosFiltrados" button detail="true">
      <ion-icon slot="start" [name]="producto.icono" class="icon-large"></ion-icon>
      <ion-label>{{ producto.nombre }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>

</ion-footer>