<ion-header>
  <ion-toolbar color="light">
    <ion-title>VaConVos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="title">Productos destacados</h2>

  <ion-list *ngIf="!isLoading && categories.length > 0">
    <ion-item *ngFor="let category of categories" button detail="true" (click)="openCategory(category.id)">
      <ion-icon slot="start" name="basket-outline" class="icon-large"></ion-icon>
      <ion-label>{{ category.name }}</ion-label>
    </ion-item>
  </ion-list>

  </ion-content>