ion-content {
  --background: #b2d8c5;
}

ion-item {
  --background: #42ab7d;
  --padding-start: 10px;
  --padding-end: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-thumbnail {
  --size: 60px;
  --border-radius: 8px;
}

ion-badge {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  color: #2d3e36;
}

p {
  color: white;
  margin: 2px 0;
}

strong {
  color: darkgreen; /* Color verde de Ionic para acentuar el total */
}