<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Producto" src="https://via.placeholder.com/50" />
      </ion-thumbnail>
      <ion-label>
        <h2>Producto 1</h2>
        <p>Descripción breve</p>
      </ion-label>
      <ion-label slot="end">
        $1000
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Producto" src="https://via.placeholder.com/50" />
      </ion-thumbnail>
      <ion-label>
        <h2>Producto 2</h2>
        <p>Descripción breve</p>
      </ion-label>
      <ion-label slot="end">
        $2500
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total: $3500</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success">
        Finalizar Compra
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>